#/etc/udev/rules.d
ACTION=="add|change", ATTRS{idProduct}=="0314", ATTRS{idVendor}=="056a", RUN+="/etc/udev/rules.d/wacom-permissions.sh"
ACTION=="add|change", ATTRS{idProduct}=="0084", ATTRS{idVendor}=="056a", RUN+="/etc/udev/rules.d/wacom-permissions.sh"
